---
import BottomNav from "../components/BottomNav.astro";
import Navbar from "../components/Navbar.astro";
// Import CSS Reset Tailwind via UnoCSS
import "@unocss/reset/tailwind.css";

import "@fontsource-variable/montserrat";
import "@fontsource-variable/inter";
---

<!doctype html>
<html lang="en">
	<head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>SAC Modern Home Solutions</title>
    </head>

    <body
        class="bg-neutral-50 text-neutral-800"
        style="font-family: 'Inter Variable', sans-serif;"
    >
		<!-- Navbar Component -->
        <Navbar />
		<slot />
		<!-- Bottom Navigation Component -->
        <BottomNav />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
