---
// Layout.astro
import BottomNav from "../components/BottomNav.astro";
import Navbar from "../components/Navbar.astro";
import { ClientRouter } from "astro:transitions";
import "../styles/global.css";
import "@unocss/reset/tailwind.css";

import "@fontsource-variable/montserrat";
import "@fontsource-variable/inter";
---

<!doctype html>
<html lang="id">
	<head>
		<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
		<ClientRouter />
        <title>SACare - Modern Home Solutions</title>
    </head>

    <body
		bg-neutral-50 text-neutral-800 margin-0 width-full min-h-screen
		font-inter font-sans
	>
		<Navbar transition:persist/>
		<main>
		<slot />
		</main>
		<BottomNav transition:persist/>
	</body>
</html>